In [1]:
import numpy as np
import pandas as pd

In [3]:
!type examples\ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [5]:
df = pd.read_csv('examples/ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [8]:
!type examples\ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [10]:
df = pd.read_csv('examples/ex2.csv', header=None)
df

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [11]:
pd.read_csv('examples/ex2.csv', names=["a", "b", "c", "d", "message"])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [12]:
pd.read_csv('examples/ex2.csv', names=["a", "b", "c", "d", "message"], index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [13]:
!type examples\csv_mindex.csv

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [15]:
parsed = pd.read_csv('examples/csv_mindex.csv', index_col=['key1','key2'])
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [19]:
!type examples\ex3.txt

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [22]:
pd.read_csv('examples/ex3.txt', sep='\s+')

<>:1: SyntaxWarning: invalid escape sequence '\s'
<>:1: SyntaxWarning: invalid escape sequence '\s'
C:\Users\rfare\AppData\Local\Temp\ipykernel_13552\18254101.py:1: SyntaxWarning: invalid escape sequence '\s'
  pd.read_csv('examples/ex3.txt', sep='\s+')

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [23]:
!type examples\ex4.csv

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [24]:
pd.read_csv("examples/ex4.csv", skiprows=[0, 2, 3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [2]:
!type examples\ex5.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [3]:
result=pd.read_csv('examples/ex5.csv')
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [4]:
pd.isna(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [8]:
result = pd.read_csv("examples/ex5.csv", na_values=["NULL"])
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [10]:
result = pd.read_csv("examples/ex5.csv", keep_default_na=False)
result

  something  a   b   c   d message
0       one  1   2   3   4      NA
1       two  5   6       8   world
2     three  9  10  11  12     foo

In [11]:
result.isna()

   something      a      b      c      d  message
0      False  False  False  False  False    False
1      False  False  False  False  False    False
2      False  False  False  False  False    False

In [12]:
result3 = pd.read_csv("examples/ex5.csv", keep_default_na=False,
                         na_values=["NA"])
result3

  something  a   b   c   d message
0       one  1   2   3   4     NaN
1       two  5   6       8   world
2     three  9  10  11  12     foo

In [13]:
result3.isna()

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False  False  False    False
2      False  False  False  False  False    False

In [14]:
pd.options.display.max_rows=10
result = pd.read_csv('examples/ex6.csv')

In [15]:
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [16]:
pd.read_csv("examples/ex6.csv", nrows=5)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [19]:
chunker = pd.read_csv("examples/ex6.csv", chunksize=1000)
type(chunker)

pandas.io.parsers.readers.TextFileReader

In [20]:
tot = pd.Series([], dtype='int64')
for piece in chunker:
    tot=tot.add(piece['key'].value_counts(), fill_value=0)
tot=tot.sort_values(ascending=False)
tot[:10]

key
E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
dtype: float64

In [21]:
data = pd.read_csv("examples/ex5.csv")
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [22]:
data.to_csv('examples/out.csv')
!type examples\out.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

In [23]:
import sys
data.to_csv(sys.stdout, sep='|')

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [24]:
data.to_csv(sys.stdout, na_rep='NULL')

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [25]:
data.to_csv(sys.stdout, index=False, header=False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [27]:
data.to_csv(sys.stdout, index=False, columns=['a','b','c'])

a,b,c
1,2,3.0
5,6,
9,10,11.0

In [28]:
!type examples\ex7.csv

"a","b","c"
"1","2","3"
"1","2","3"

In [40]:
import csv
f=open('examples/ex7.csv')
reader=csv.reader(f)

In [30]:
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [38]:
f.close()

In [32]:
with open("examples/ex7.csv") as f:
    lines = list(csv.reader(f))
header, values = lines[0], lines[1:]

In [34]:
print(lines)
print(header)
print(values)

[['a', 'b', 'c'], ['1', '2', '3'], ['1', '2', '3']]
['a', 'b', 'c']
[['1', '2', '3'], ['1', '2', '3']]

In [35]:
data_dict={h:v for h,v in zip(header, zip(*values))}
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [41]:
class my_dialect(csv.Dialect):
    lineterminator = "\n"
    delimiter = ";"
    quotechar = '"'
    quoting = csv.QUOTE_MINIMAL
reader = csv.reader(f, dialect=my_dialect)

In [42]:
reader = csv.reader(f, delimiter="|")

In [43]:
with open("mydata.csv", "w") as f:
    writer = csv.writer(f, dialect=my_dialect)
    writer.writerow(("one", "two", "three"))
    writer.writerow(("1", "2", "3"))
    writer.writerow(("4", "5", "6"))
    writer.writerow(("7", "8", "9"))

In [45]:
import json
obj = """
{"name": "Wes",
 "cities_lived": ["Akron", "Nashville", "New York", "San Francisco"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 34, "hobbies": ["guitars", "soccer"]},
              {"name": "Katie", "age": 42, "hobbies": ["diving", "art"]}]
}
"""
result = json.loads(obj)
result

{'name': 'Wes',
 'cities_lived': ['Akron', 'Nashville', 'New York', 'San Francisco'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 34, 'hobbies': ['guitars', 'soccer']},
  {'name': 'Katie', 'age': 42, 'hobbies': ['diving', 'art']}]}

In [46]:
asjson=json.dumps(result)
asjson

'{"name": "Wes", "cities_lived": ["Akron", "Nashville", "New York", "San Francisco"], "pet": null, "siblings": [{"name": "Scott", "age": 34, "hobbies": ["guitars", "soccer"]}, {"name": "Katie", "age": 42, "hobbies": ["diving", "art"]}]}'

In [47]:
siblings=pd.DataFrame(result['siblings'], columns=['name','age'])
siblings

    name  age
0  Scott   34
1  Katie   42

In [48]:
!type examples\example.json

[{"a": 1, "b": 2, "c": 3},
 {"a": 4, "b": 5, "c": 6},
 {"a": 7, "b": 8, "c": 9}]

In [49]:
data=pd.read_json('examples/example.json')
data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [50]:
data.to_json(sys.stdout)

{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}

In [51]:
data.to_json(sys.stdout, orient='records')

[{"a":1,"b":2,"c":3},{"a":4,"b":5,"c":6},{"a":7,"b":8,"c":9}]

In [54]:
!pip install lxml beautifulsoup4 html5lib

Collecting lxml
  Downloading lxml-5.2.2-cp312-cp312-win_amd64.whl.metadata (3.5 kB)
Requirement already satisfied: beautifulsoup4 in c:\users\rfare\miniconda3\envs\python-for-data-analysis\lib\site-packages (4.12.3)
Collecting html5lib
  Downloading html5lib-1.1-py2.py3-none-any.whl.metadata (16 kB)
Requirement already satisfied: soupsieve>1.2 in c:\users\rfare\miniconda3\envs\python-for-data-analysis\lib\site-packages (from beautifulsoup4) (2.5)
Requirement already satisfied: six>=1.9 in c:\users\rfare\miniconda3\envs\python-for-data-analysis\lib\site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in c:\users\rfare\miniconda3\envs\python-for-data-analysis\lib\site-packages (from html5lib) (0.5.1)
Downloading lxml-5.2.2-cp312-cp312-win_amd64.whl (3.8 MB)
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.8 MB 330.3 kB/s eta 0:00:12
   ---------------------------------------- 0.0/3.8 MB 281.8 kB/s eta 0:00:14
    --------------------------------------- 0.1/3.8 MB 512.0 kB/s eta 0:00:08
   - -------------------------------------- 0.1/3.8 MB 602.4 kB/s eta 0:00:07
   -- ------------------------------------- 0.2/3.8 MB 737.3 kB/s eta 0:00:05
   -- ------------------------------------- 0.3/3.8 MB 830.3 kB/s eta 0:00:05
   --- ------------------------------------ 0.3/3.8 MB 865.8 kB/s eta 0:00:05
   --- ------------------------------------ 0.4/3.8 MB 955.7 kB/s eta 0:00:04
   ---- ----------------------------------- 0.4/3.8 MB 972.9 kB/s eta 0:00:04
   ----- ---------------------------------- 0.6/3.8 MB 1.1 MB/s eta 0:00:03
   ------ --------------------------------- 0.6/3.8 MB 1.1 MB/s eta 0:00:03
   ------ --------------------------------- 0.6/3.8 MB 1.1 MB/s eta 0:00:03
   ------ --------------------------------- 0.6/3.8 MB 1.1 MB/s eta 0:00:03
   ------ --------------------------------- 0.6/3.8 MB 1.1 MB/s eta 0:00:03
   ------ --------------------------------- 0.6/3.8 MB 1.1 MB/s eta 0:00:03
   ------ --------------------------------- 0.6/3.8 MB 1.1 MB/s eta 0:00:03
   ------ --------------------------------- 0.6/3.8 MB 1.1 MB/s eta 0:00:03
   ------ --------------------------------- 0.6/3.8 MB 717.3 kB/s eta 0:00:05
   ------ --------------------------------- 0.6/3.8 MB 717.3 kB/s eta 0:00:05
   ------ --------------------------------- 0.6/3.8 MB 717.3 kB/s eta 0:00:05
   ------- -------------------------------- 0.7/3.8 MB 738.9 kB/s eta 0:00:05
   ---------- ----------------------------- 1.0/3.8 MB 943.5 kB/s eta 0:00:04
   ---------- ----------------------------- 1.0/3.8 MB 930.9 kB/s eta 0:00:04
   ------------ --------------------------- 1.2/3.8 MB 1.1 MB/s eta 0:00:03
   ------------ --------------------------- 1.2/3.8 MB 1.1 MB/s eta 0:00:03
   ------------ --------------------------- 1.2/3.8 MB 1.1 MB/s eta 0:00:03
   -------------- ------------------------- 1.4/3.8 MB 1.1 MB/s eta 0:00:03
   -------------- ------------------------- 1.4/3.8 MB 1.1 MB/s eta 0:00:03
   -------------- ------------------------- 1.4/3.8 MB 1.0 MB/s eta 0:00:03
   --------------- ------------------------ 1.4/3.8 MB 1.0 MB/s eta 0:00:03
   --------------- ------------------------ 1.4/3.8 MB 1.0 MB/s eta 0:00:03
   --------------- ------------------------ 1.4/3.8 MB 1.0 MB/s eta 0:00:03
   ------------------ --------------------- 1.7/3.8 MB 1.1 MB/s eta 0:00:02
   ------------------ --------------------- 1.8/3.8 MB 1.1 MB/s eta 0:00:02
   ------------------ --------------------- 1.8/3.8 MB 1.1 MB/s eta 0:00:02
   ------------------- -------------------- 1.8/3.8 MB 1.1 MB/s eta 0:00:02
   ------------------- -------------------- 1.9/3.8 MB 1.1 MB/s eta 0:00:02
   -------------------- ------------------- 1.9/3.8 MB 1.1 MB/s eta 0:00:02
   -------------------- ------------------- 2.0/3.8 MB 1.1 MB/s eta 0:00:02
   --------------------- ------------------ 2.0/3.8 MB 1.1 MB/s eta 0:00:02
   --------------------- ------------------ 2.1/3.8 MB 1.1 MB/s eta 0:00:02
   ---------------------- ----------------- 2.1/3.8 MB 1.1 MB/s eta 0:00:02
   ---------------------- ----------------- 2.2/3.8 MB 1.1 MB/s eta 0:00:02
   ----------------------- ---------------- 2.2/3.8 MB 1.1 MB/s eta 0:00:02
   ----------------------- ---------------- 2.3/3.8 MB 1.1 MB/s eta 0:00:02
   ------------------------ --------------- 2.3/3.8 MB 1.1 MB/s eta 0:00:02
   ------------------------ --------------- 2.4/3.8 MB 1.1 MB/s eta 0:00:02
   ------------------------- -------------- 2.4/3.8 MB 1.1 MB/s eta 0:00:02
   ------------------------- -------------- 2.4/3.8 MB 1.1 MB/s eta 0:00:02
   -------------------------- ------------- 2.5/3.8 MB 1.1 MB/s eta 0:00:02
   -------------------------- ------------- 2.5/3.8 MB 1.1 MB/s eta 0:00:02
   --------------------------- ------------ 2.6/3.8 MB 1.1 MB/s eta 0:00:02
   --------------------------- ------------ 2.6/3.8 MB 1.1 MB/s eta 0:00:02
   --------------------------- ------------ 2.7/3.8 MB 1.1 MB/s eta 0:00:02
   ---------------------------- ----------- 2.7/3.8 MB 1.1 MB/s eta 0:00:02
   ----------------------------- ---------- 2.8/3.8 MB 1.1 MB/s eta 0:00:01
   ----------------------------- ---------- 2.8/3.8 MB 1.1 MB/s eta 0:00:01
   ------------------------------ --------- 2.9/3.8 MB 1.1 MB/s eta 0:00:01
   ------------------------------ --------- 2.9/3.8 MB 1.0 MB/s eta 0:00:01
   ------------------------------- -------- 3.0/3.8 MB 1.0 MB/s eta 0:00:01
   ------------------------------- -------- 3.0/3.8 MB 1.0 MB/s eta 0:00:01
   ------------------------------- -------- 3.0/3.8 MB 1.0 MB/s eta 0:00:01
   -------------------------------- ------- 3.1/3.8 MB 1.0 MB/s eta 0:00:01
   -------------------------------- ------- 3.1/3.8 MB 1.0 MB/s eta 0:00:01
   --------------------------------- ------ 3.2/3.8 MB 1.0 MB/s eta 0:00:01
   --------------------------------- ------ 3.2/3.8 MB 1.0 MB/s eta 0:00:01
   ---------------------------------- ----- 3.3/3.8 MB 1.0 MB/s eta 0:00:01
   ---------------------------------- ----- 3.3/3.8 MB 1.0 MB/s eta 0:00:01
   ----------------------------------- ---- 3.4/3.8 MB 1.0 MB/s eta 0:00:01
   ----------------------------------- ---- 3.4/3.8 MB 1.0 MB/s eta 0:00:01
   ------------------------------------ --- 3.5/3.8 MB 1.0 MB/s eta 0:00:01
   ------------------------------------- -- 3.5/3.8 MB 1.0 MB/s eta 0:00:01
   ------------------------------------- -- 3.6/3.8 MB 1.0 MB/s eta 0:00:01
   -------------------------------------- - 3.6/3.8 MB 1.0 MB/s eta 0:00:01
   -------------------------------------- - 3.7/3.8 MB 1.0 MB/s eta 0:00:01
   ---------------------------------------  3.7/3.8 MB 1.0 MB/s eta 0:00:01
   ---------------------------------------  3.8/3.8 MB 1.0 MB/s eta 0:00:01
   ---------------------------------------  3.8/3.8 MB 1.0 MB/s eta 0:00:01
   ---------------------------------------  3.8/3.8 MB 1.0 MB/s eta 0:00:01
   ---------------------------------------  3.8/3.8 MB 1.0 MB/s eta 0:00:01
   ---------------------------------------  3.8/3.8 MB 1.0 MB/s eta 0:00:01
   ---------------------------------------- 3.8/3.8 MB 998.8 kB/s eta 0:00:00
Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
   ---------------------------------------- 0.0/112.2 kB ? eta -:--:--
   -------------- ------------------------- 41.0/112.2 kB 2.0 MB/s eta 0:00:01
   -------------------------------- ------- 92.2/112.2 kB 1.3 MB/s eta 0:00:01
   ------------------------------------ --- 102.4/112.2 kB 1.2 MB/s eta 0:00:01
   -------------------------------------- 112.2/112.2 kB 653.4 kB/s eta 0:00:00
Installing collected packages: lxml, html5lib
Successfully installed html5lib-1.1 lxml-5.2.2

In [55]:
tables = pd.read_html("examples/fdic_failed_bank_list.html")
len(tables)

1

In [56]:
failures = tables[0]

In [57]:
failures.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"

In [58]:
close_timestamps = pd.to_datetime(failures["Closing Date"])
close_timestamps.dt.year.value_counts()

Closing Date
2010    157
2009    140
2011     92
2012     51
2008     25
       ...
2004      4
2001      4
2007      3
2003      3
2000      2
Name: count, Length: 15, dtype: int64

In [59]:
from lxml import objectify
path = "datasets/mta_perf/Performance_MNR.xml"
with open(path) as f:
    parsed = objectify.parse(f)
root = parsed.getroot()

In [60]:
data = []

skip_fields = ["PARENT_SEQ", "INDICATOR_SEQ",
               "DESIRED_CHANGE", "DECIMAL_PLACES"]

for elt in root.INDICATOR:
    el_data = {}
    for child in elt.getchildren():
        if child.tag in skip_fields:
            continue
        el_data[child.tag] = child.pyval
    data.append(el_data)
perf = pd.DataFrame(data)
perf.head()

,AGENCY_NAME,INDICATOR_NAME,DESCRIPTION,PERIOD_YEAR,PERIOD_MONTH,CATEGORY,FREQUENCY,INDICATOR_UNIT,YTD_TARGET,YTD_ACTUAL,MONTHLY_TARGET,MONTHLY_ACTUAL
0,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,1,Service Indicators,M,%,95.0,96.9,95.0,96.9
1,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,2,Service Indicators,M,%,95.0,96.0,95.0,95.0
2,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,3,Service Indicators,M,%,95.0,96.3,95.0,96.9
3,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,4,Service Indicators,M,%,95.0,96.8,95.0,98.3
4,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,5,Service Indicators,M,%,95.0,96.6,95.0,95.8

In [61]:
perf2 = pd.read_xml(path)
perf2.head()

,INDICATOR_SEQ,PARENT_SEQ,AGENCY_NAME,INDICATOR_NAME,DESCRIPTION,PERIOD_YEAR,PERIOD_MONTH,CATEGORY,FREQUENCY,DESIRED_CHANGE,INDICATOR_UNIT,DECIMAL_PLACES,YTD_TARGET,YTD_ACTUAL,MONTHLY_TARGET,MONTHLY_ACTUAL
0,28445,NaN,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,1,Service Indicators,M,U,%,1,95.00,96.90,95.00,96.90
1,28445,NaN,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,2,Service Indicators,M,U,%,1,95.00,96.00,95.00,95.00
2,28445,NaN,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,3,Service Indicators,M,U,%,1,95.00,96.30,95.00,96.90
3,28445,NaN,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,4,Service Indicators,M,U,%,1,95.00,96.80,95.00,98.30
4,28445,NaN,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,5,Service Indicators,M,U,%,1,95.00,96.60,95.00,95.80

In [2]:
frame = pd.read_csv("examples/ex1.csv")

In [6]:
frame.to_pickle("examples/frame_pickle")
pd.read_pickle('examples/frame_pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [7]:
!pip install pyarrow

Collecting pyarrow
  Downloading pyarrow-16.1.0-cp312-cp312-win_amd64.whl.metadata (3.1 kB)
Requirement already satisfied: numpy>=1.16.6 in c:\users\rfare\miniconda3\envs\python-for-data-analysis\lib\site-packages (from pyarrow) (1.26.4)
Downloading pyarrow-16.1.0-cp312-cp312-win_amd64.whl (25.8 MB)
   ---------------------------------------- 0.0/25.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/25.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/25.8 MB 217.9 kB/s eta 0:01:59
   ---------------------------------------- 0.0/25.8 MB 217.9 kB/s eta 0:01:59
   ---------------------------------------- 0.0/25.8 MB 186.2 kB/s eta 0:02:19
   ---------------------------------------- 0.1/25.8 MB 238.1 kB/s eta 0:01:49
   ---------------------------------------- 0.1/25.8 MB 305.0 kB/s eta 0:01:25
   ---------------------------------------- 0.1/25.8 MB 437.3 kB/s eta 0:00:59
   ---------------------------------------- 0.2/25.8 MB 595.3 kB/s eta 0:00:44
   ---------------------------------------- 0.3/25.8 MB 654.7 kB/s eta 0:00:40
    --------------------------------------- 0.3/25.8 MB 724.7 kB/s eta 0:00:36
    --------------------------------------- 0.4/25.8 MB 760.1 kB/s eta 0:00:34
    --------------------------------------- 0.4/25.8 MB 786.3 kB/s eta 0:00:33
    --------------------------------------- 0.6/25.8 MB 974.4 kB/s eta 0:00:26
    --------------------------------------- 0.6/25.8 MB 973.6 kB/s eta 0:00:26
    --------------------------------------- 0.6/25.8 MB 973.6 kB/s eta 0:00:26
    --------------------------------------- 0.6/25.8 MB 973.6 kB/s eta 0:00:26
    --------------------------------------- 0.6/25.8 MB 973.6 kB/s eta 0:00:26
    --------------------------------------- 0.6/25.8 MB 770.9 kB/s eta 0:00:33
    --------------------------------------- 0.6/25.8 MB 770.9 kB/s eta 0:00:33
    --------------------------------------- 0.6/25.8 MB 770.9 kB/s eta 0:00:33
   - -------------------------------------- 0.8/25.8 MB 795.1 kB/s eta 0:00:32
   - -------------------------------------- 0.8/25.8 MB 795.1 kB/s eta 0:00:32
   - -------------------------------------- 0.9/25.8 MB 854.2 kB/s eta 0:00:30
   - -------------------------------------- 1.0/25.8 MB 936.0 kB/s eta 0:00:27
   - -------------------------------------- 1.0/25.8 MB 936.0 kB/s eta 0:00:27
   - -------------------------------------- 1.0/25.8 MB 936.0 kB/s eta 0:00:27
   - -------------------------------------- 1.1/25.8 MB 924.0 kB/s eta 0:00:27
   - -------------------------------------- 1.2/25.8 MB 911.3 kB/s eta 0:00:28
   - -------------------------------------- 1.3/25.8 MB 971.1 kB/s eta 0:00:26
   -- ------------------------------------- 1.3/25.8 MB 963.8 kB/s eta 0:00:26
   -- ------------------------------------- 1.4/25.8 MB 993.8 kB/s eta 0:00:25
   -- ------------------------------------- 1.4/25.8 MB 979.6 kB/s eta 0:00:25
   -- ------------------------------------- 1.5/25.8 MB 996.7 kB/s eta 0:00:25
   -- ------------------------------------- 1.6/25.8 MB 1.0 MB/s eta 0:00:25
   -- ------------------------------------- 1.6/25.8 MB 1.0 MB/s eta 0:00:24
   -- ------------------------------------- 1.6/25.8 MB 1.0 MB/s eta 0:00:24
   -- ------------------------------------- 1.7/25.8 MB 1.0 MB/s eta 0:00:24
   -- ------------------------------------- 1.7/25.8 MB 1.0 MB/s eta 0:00:24
   -- ------------------------------------- 1.8/25.8 MB 1.0 MB/s eta 0:00:24
   -- ------------------------------------- 1.9/25.8 MB 1.0 MB/s eta 0:00:24
   -- ------------------------------------- 1.9/25.8 MB 1.0 MB/s eta 0:00:24
   --- ------------------------------------ 2.0/25.8 MB 1.0 MB/s eta 0:00:23
   --- ------------------------------------ 2.0/25.8 MB 1.0 MB/s eta 0:00:23
   --- ------------------------------------ 2.0/25.8 MB 1.0 MB/s eta 0:00:23
   --- ------------------------------------ 2.2/25.8 MB 1.1 MB/s eta 0:00:23
   --- ------------------------------------ 2.3/25.8 MB 1.1 MB/s eta 0:00:23
   --- ------------------------------------ 2.3/25.8 MB 1.1 MB/s eta 0:00:23
   --- ------------------------------------ 2.3/25.8 MB 1.1 MB/s eta 0:00:23
   --- ------------------------------------ 2.4/25.8 MB 1.1 MB/s eta 0:00:23
   --- ------------------------------------ 2.4/25.8 MB 1.0 MB/s eta 0:00:23
   --- ------------------------------------ 2.5/25.8 MB 1.0 MB/s eta 0:00:23
   --- ------------------------------------ 2.5/25.8 MB 1.0 MB/s eta 0:00:23
   --- ------------------------------------ 2.5/25.8 MB 1.0 MB/s eta 0:00:23
   --- ------------------------------------ 2.6/25.8 MB 1.0 MB/s eta 0:00:23
   ---- ----------------------------------- 2.6/25.8 MB 1.0 MB/s eta 0:00:23
   ---- ----------------------------------- 2.7/25.8 MB 1.0 MB/s eta 0:00:23
   ---- ----------------------------------- 2.7/25.8 MB 1.0 MB/s eta 0:00:23
   ---- ----------------------------------- 2.7/25.8 MB 1.0 MB/s eta 0:00:23
   ---- ----------------------------------- 2.8/25.8 MB 1.0 MB/s eta 0:00:23
   ---- ----------------------------------- 2.8/25.8 MB 1.0 MB/s eta 0:00:23
   ---- ----------------------------------- 2.9/25.8 MB 1.0 MB/s eta 0:00:23
   ---- ----------------------------------- 2.9/25.8 MB 1.0 MB/s eta 0:00:23
   ---- ----------------------------------- 3.0/25.8 MB 1.0 MB/s eta 0:00:23
   ---- ----------------------------------- 3.0/25.8 MB 1.0 MB/s eta 0:00:23
   ---- ----------------------------------- 3.1/25.8 MB 1.0 MB/s eta 0:00:23
   ---- ----------------------------------- 3.1/25.8 MB 1.0 MB/s eta 0:00:23
   ---- ----------------------------------- 3.1/25.8 MB 1.0 MB/s eta 0:00:23
   ---- ----------------------------------- 3.2/25.8 MB 1.0 MB/s eta 0:00:23
   ----- ---------------------------------- 3.2/25.8 MB 1.0 MB/s eta 0:00:23
   ----- ---------------------------------- 3.3/25.8 MB 1.0 MB/s eta 0:00:23
   ----- ---------------------------------- 3.3/25.8 MB 1.0 MB/s eta 0:00:23
   ----- ---------------------------------- 3.4/25.8 MB 1.0 MB/s eta 0:00:23
   ----- ---------------------------------- 3.4/25.8 MB 1.0 MB/s eta 0:00:23
   ----- ---------------------------------- 3.5/25.8 MB 1.0 MB/s eta 0:00:23
   ----- ---------------------------------- 3.5/25.8 MB 1.0 MB/s eta 0:00:23
   ----- ---------------------------------- 3.6/25.8 MB 1.0 MB/s eta 0:00:23
   ----- ---------------------------------- 3.6/25.8 MB 1.0 MB/s eta 0:00:23
   ----- ---------------------------------- 3.6/25.8 MB 1.0 MB/s eta 0:00:23
   ----- ---------------------------------- 3.7/25.8 MB 1.0 MB/s eta 0:00:22
   ----- ---------------------------------- 3.7/25.8 MB 1.0 MB/s eta 0:00:22
   ----- ---------------------------------- 3.8/25.8 MB 1.0 MB/s eta 0:00:22
   ----- ---------------------------------- 3.8/25.8 MB 1.0 MB/s eta 0:00:22
   ------ --------------------------------- 3.9/25.8 MB 1.0 MB/s eta 0:00:22
   ------ --------------------------------- 3.9/25.8 MB 1.0 MB/s eta 0:00:22
   ------ --------------------------------- 4.0/25.8 MB 1.0 MB/s eta 0:00:22
   ------ --------------------------------- 4.0/25.8 MB 1.0 MB/s eta 0:00:22
   ------ --------------------------------- 4.1/25.8 MB 1.0 MB/s eta 0:00:22
   ------ --------------------------------- 4.1/25.8 MB 1.0 MB/s eta 0:00:22
   ------ --------------------------------- 4.2/25.8 MB 1.0 MB/s eta 0:00:22
   ------ --------------------------------- 4.2/25.8 MB 1.0 MB/s eta 0:00:22
   ------ --------------------------------- 4.2/25.8 MB 1.0 MB/s eta 0:00:22
   ------ --------------------------------- 4.3/25.8 MB 1.0 MB/s eta 0:00:22
   ------ --------------------------------- 4.3/25.8 MB 1.0 MB/s eta 0:00:22
   ------ --------------------------------- 4.4/25.8 MB 1.0 MB/s eta 0:00:22
   ------ --------------------------------- 4.4/25.8 MB 1.0 MB/s eta 0:00:22
   ------ --------------------------------- 4.5/25.8 MB 1.0 MB/s eta 0:00:22
   ------- -------------------------------- 4.5/25.8 MB 1.0 MB/s eta 0:00:22
   ------- -------------------------------- 4.6/25.8 MB 1.0 MB/s eta 0:00:22
   ------- -------------------------------- 4.6/25.8 MB 1.0 MB/s eta 0:00:22
   ------- -------------------------------- 4.7/25.8 MB 1.0 MB/s eta 0:00:22
   ------- -------------------------------- 4.7/25.8 MB 1.0 MB/s eta 0:00:21
   ------- -------------------------------- 4.8/25.8 MB 1.0 MB/s eta 0:00:21
   ------- -------------------------------- 4.8/25.8 MB 1.0 MB/s eta 0:00:21
   ------- -------------------------------- 4.9/25.8 MB 1.0 MB/s eta 0:00:21
   ------- -------------------------------- 4.9/25.8 MB 1.0 MB/s eta 0:00:21
   ------- -------------------------------- 5.0/25.8 MB 1.0 MB/s eta 0:00:21
   ------- -------------------------------- 5.0/25.8 MB 1.0 MB/s eta 0:00:21
   ------- -------------------------------- 5.1/25.8 MB 1.0 MB/s eta 0:00:21
   ------- -------------------------------- 5.1/25.8 MB 1.0 MB/s eta 0:00:21
   ------- -------------------------------- 5.1/25.8 MB 1.0 MB/s eta 0:00:21
   ------- -------------------------------- 5.1/25.8 MB 1.0 MB/s eta 0:00:21
   -------- ------------------------------- 5.2/25.8 MB 1.0 MB/s eta 0:00:21
   -------- ------------------------------- 5.3/25.8 MB 1.0 MB/s eta 0:00:21
   -------- ------------------------------- 5.3/25.8 MB 1.0 MB/s eta 0:00:21
   -------- ------------------------------- 5.3/25.8 MB 999.4 kB/s eta 0:00:21
   -------- ------------------------------- 5.4/25.8 MB 999.2 kB/s eta 0:00:21
   -------- ------------------------------- 5.4/25.8 MB 998.2 kB/s eta 0:00:21
   -------- ------------------------------- 5.4/25.8 MB 994.2 kB/s eta 0:00:21
   -------- ------------------------------- 5.5/25.8 MB 993.2 kB/s eta 0:00:21
   -------- ------------------------------- 5.5/25.8 MB 990.3 kB/s eta 0:00:21
   -------- ------------------------------- 5.6/25.8 MB 987.5 kB/s eta 0:00:21
   -------- ------------------------------- 5.6/25.8 MB 985.7 kB/s eta 0:00:21
   -------- ------------------------------- 5.6/25.8 MB 985.8 kB/s eta 0:00:21
   -------- ------------------------------- 5.7/25.8 MB 983.0 kB/s eta 0:00:21
   -------- ------------------------------- 5.7/25.8 MB 983.9 kB/s eta 0:00:21
   -------- ------------------------------- 5.7/25.8 MB 981.2 kB/s eta 0:00:21
   -------- ------------------------------- 5.8/25.8 MB 978.6 kB/s eta 0:00:21
   --------- ------------------------------ 5.8/25.8 MB 979.5 kB/s eta 0:00:21
   --------- ------------------------------ 5.9/25.8 MB 976.9 kB/s eta 0:00:21
   --------- ------------------------------ 5.9/25.8 MB 978.7 kB/s eta 0:00:21
   --------- ------------------------------ 5.9/25.8 MB 975.5 kB/s eta 0:00:21
   --------- ------------------------------ 6.0/25.8 MB 977.1 kB/s eta 0:00:21
   --------- ------------------------------ 6.0/25.8 MB 973.9 kB/s eta 0:00:21
   --------- ------------------------------ 6.1/25.8 MB 974.8 kB/s eta 0:00:21
   --------- ------------------------------ 6.1/25.8 MB 972.4 kB/s eta 0:00:21
   --------- ------------------------------ 6.2/25.8 MB 973.2 kB/s eta 0:00:21
   --------- ------------------------------ 6.2/25.8 MB 970.9 kB/s eta 0:00:21
   --------- ------------------------------ 6.2/25.8 MB 975.0 kB/s eta 0:00:21
   --------- ------------------------------ 6.3/25.8 MB 969.6 kB/s eta 0:00:21
   --------- ------------------------------ 6.3/25.8 MB 970.4 kB/s eta 0:00:21
   --------- ------------------------------ 6.3/25.8 MB 970.5 kB/s eta 0:00:21
   --------- ------------------------------ 6.4/25.8 MB 971.4 kB/s eta 0:00:21
   --------- ------------------------------ 6.5/25.8 MB 969.9 kB/s eta 0:00:20
   ---------- ----------------------------- 6.5/25.8 MB 970.0 kB/s eta 0:00:20
   ---------- ----------------------------- 6.5/25.8 MB 970.8 kB/s eta 0:00:20
   ---------- ----------------------------- 6.6/25.8 MB 969.5 kB/s eta 0:00:20
   ---------- ----------------------------- 6.6/25.8 MB 970.3 kB/s eta 0:00:20
   ---------- ----------------------------- 6.7/25.8 MB 970.3 kB/s eta 0:00:20
   ---------- ----------------------------- 6.7/25.8 MB 969.0 kB/s eta 0:00:20
   ---------- ----------------------------- 6.8/25.8 MB 970.5 kB/s eta 0:00:20
   ---------- ----------------------------- 6.8/25.8 MB 969.1 kB/s eta 0:00:20
   ---------- ----------------------------- 6.9/25.8 MB 969.9 kB/s eta 0:00:20
   ---------- ----------------------------- 6.9/25.8 MB 970.0 kB/s eta 0:00:20
   ---------- ----------------------------- 6.9/25.8 MB 970.8 kB/s eta 0:00:20
   ---------- ----------------------------- 7.0/25.8 MB 969.6 kB/s eta 0:00:20
   ---------- ----------------------------- 7.0/25.8 MB 970.3 kB/s eta 0:00:20
   ---------- ----------------------------- 7.1/25.8 MB 969.7 kB/s eta 0:00:20
   ----------- ---------------------------- 7.1/25.8 MB 970.5 kB/s eta 0:00:20
   ----------- ---------------------------- 7.2/25.8 MB 971.2 kB/s eta 0:00:20
   ----------- ---------------------------- 7.2/25.8 MB 972.0 kB/s eta 0:00:20
   ----------- ---------------------------- 7.3/25.8 MB 972.7 kB/s eta 0:00:20
   ----------- ---------------------------- 7.3/25.8 MB 972.8 kB/s eta 0:00:20
   ----------- ---------------------------- 7.4/25.8 MB 972.9 kB/s eta 0:00:19
   ----------- ---------------------------- 7.4/25.8 MB 971.6 kB/s eta 0:00:19
   ----------- ---------------------------- 7.5/25.8 MB 971.7 kB/s eta 0:00:19
   ----------- ---------------------------- 7.5/25.8 MB 972.4 kB/s eta 0:00:19
   ----------- ---------------------------- 7.6/25.8 MB 973.1 kB/s eta 0:00:19
   ----------- ---------------------------- 7.6/25.8 MB 973.8 kB/s eta 0:00:19
   ----------- ---------------------------- 7.7/25.8 MB 973.2 kB/s eta 0:00:19
   ----------- ---------------------------- 7.7/25.8 MB 974.0 kB/s eta 0:00:19
   ----------- ---------------------------- 7.7/25.8 MB 972.1 kB/s eta 0:00:19
   ------------ --------------------------- 7.8/25.8 MB 975.4 kB/s eta 0:00:19
   ------------ --------------------------- 7.8/25.8 MB 975.4 kB/s eta 0:00:19
   ------------ --------------------------- 7.9/25.8 MB 974.2 kB/s eta 0:00:19
   ------------ --------------------------- 7.9/25.8 MB 976.7 kB/s eta 0:00:19
   ------------ --------------------------- 8.0/25.8 MB 974.2 kB/s eta 0:00:19
   ------------ --------------------------- 8.0/25.8 MB 974.9 kB/s eta 0:00:19
   ------------ --------------------------- 8.1/25.8 MB 975.6 kB/s eta 0:00:19
   ------------ --------------------------- 8.1/25.8 MB 976.3 kB/s eta 0:00:19
   ------------ --------------------------- 8.2/25.8 MB 976.2 kB/s eta 0:00:19
   ------------ --------------------------- 8.2/25.8 MB 975.1 kB/s eta 0:00:19
   ------------ --------------------------- 8.3/25.8 MB 977.6 kB/s eta 0:00:18
   ------------ --------------------------- 8.3/25.8 MB 975.2 kB/s eta 0:00:18
   ------------ --------------------------- 8.4/25.8 MB 975.8 kB/s eta 0:00:18
   ------------- -------------------------- 8.4/25.8 MB 976.4 kB/s eta 0:00:18
   ------------- -------------------------- 8.5/25.8 MB 977.2 kB/s eta 0:00:18
   ------------- -------------------------- 8.5/25.8 MB 977.8 kB/s eta 0:00:18
   ------------- -------------------------- 8.6/25.8 MB 977.2 kB/s eta 0:00:18
   ------------- -------------------------- 8.6/25.8 MB 977.8 kB/s eta 0:00:18
   ------------- -------------------------- 8.6/25.8 MB 977.8 kB/s eta 0:00:18
   ------------- -------------------------- 8.7/25.8 MB 978.4 kB/s eta 0:00:18
   ------------- -------------------------- 8.7/25.8 MB 979.0 kB/s eta 0:00:18
   ------------- -------------------------- 8.8/25.8 MB 979.6 kB/s eta 0:00:18
   ------------- -------------------------- 8.8/25.8 MB 980.2 kB/s eta 0:00:18
   ------------- -------------------------- 8.9/25.8 MB 979.6 kB/s eta 0:00:18
   ------------- -------------------------- 8.9/25.8 MB 980.8 kB/s eta 0:00:18
   ------------- -------------------------- 9.0/25.8 MB 980.8 kB/s eta 0:00:18
   ------------- -------------------------- 9.0/25.8 MB 980.8 kB/s eta 0:00:18
   -------------- ------------------------- 9.1/25.8 MB 980.2 kB/s eta 0:00:18
   -------------- ------------------------- 9.1/25.8 MB 979.7 kB/s eta 0:00:18
   -------------- ------------------------- 9.2/25.8 MB 980.8 kB/s eta 0:00:17
   -------------- ------------------------- 9.2/25.8 MB 980.9 kB/s eta 0:00:17
   -------------- ------------------------- 9.3/25.8 MB 980.8 kB/s eta 0:00:17
   -------------- ------------------------- 9.3/25.8 MB 982.0 kB/s eta 0:00:17
   -------------- ------------------------- 9.4/25.8 MB 982.0 kB/s eta 0:00:17
   -------------- ------------------------- 9.4/25.8 MB 982.5 kB/s eta 0:00:17
   -------------- ------------------------- 9.5/25.8 MB 982.5 kB/s eta 0:00:17
   -------------- ------------------------- 9.5/25.8 MB 982.5 kB/s eta 0:00:17
   -------------- ------------------------- 9.6/25.8 MB 981.4 kB/s eta 0:00:17
   -------------- ------------------------- 9.6/25.8 MB 982.0 kB/s eta 0:00:17
   -------------- ------------------------- 9.7/25.8 MB 982.5 kB/s eta 0:00:17
   --------------- ------------------------ 9.7/25.8 MB 983.5 kB/s eta 0:00:17
   --------------- ------------------------ 9.8/25.8 MB 982.5 kB/s eta 0:00:17
   --------------- ------------------------ 9.8/25.8 MB 983.0 kB/s eta 0:00:17
   --------------- ------------------------ 9.9/25.8 MB 983.5 kB/s eta 0:00:17
   --------------- ------------------------ 9.9/25.8 MB 983.5 kB/s eta 0:00:17
   --------------- ------------------------ 10.0/25.8 MB 983.5 kB/s eta 0:00:17
   --------------- ------------------------ 10.0/25.8 MB 984.5 kB/s eta 0:00:17
   --------------- ------------------------ 10.0/25.8 MB 983.6 kB/s eta 0:00:17
   --------------- ------------------------ 10.1/25.8 MB 984.5 kB/s eta 0:00:17
   --------------- ------------------------ 10.1/25.8 MB 985.1 kB/s eta 0:00:16
   --------------- ------------------------ 10.2/25.8 MB 985.5 kB/s eta 0:00:16
   --------------- ------------------------ 10.2/25.8 MB 984.0 kB/s eta 0:00:16
   --------------- ------------------------ 10.3/25.8 MB 998.0 kB/s eta 0:00:16
   --------------- ------------------------ 10.3/25.8 MB 999.5 kB/s eta 0:00:16
   ---------------- ----------------------- 10.4/25.8 MB 999.5 kB/s eta 0:00:16
   ---------------- ----------------------- 10.4/25.8 MB 999.5 kB/s eta 0:00:16
   ---------------- ----------------------- 10.5/25.8 MB 996.6 kB/s eta 0:00:16
   ---------------- ----------------------- 10.5/25.8 MB 999.6 kB/s eta 0:00:16
   ---------------- ----------------------- 10.5/25.8 MB 996.5 kB/s eta 0:00:16
   ---------------- ----------------------- 10.6/25.8 MB 996.6 kB/s eta 0:00:16
   ---------------- ----------------------- 10.7/25.8 MB 996.5 kB/s eta 0:00:16
   ---------------- ----------------------- 10.7/25.8 MB 993.5 kB/s eta 0:00:16
   ---------------- ----------------------- 10.8/25.8 MB 991.9 kB/s eta 0:00:16
   ---------------- ----------------------- 10.8/25.8 MB 987.4 kB/s eta 0:00:16
   ---------------- ----------------------- 10.8/25.8 MB 1.0 MB/s eta 0:00:15
   ---------------- ----------------------- 10.8/25.8 MB 1.0 MB/s eta 0:00:15
   ---------------- ----------------------- 10.9/25.8 MB 1.0 MB/s eta 0:00:15
   ---------------- ----------------------- 11.0/25.8 MB 1.0 MB/s eta 0:00:15
   ----------------- ---------------------- 11.0/25.8 MB 1.0 MB/s eta 0:00:15
   ----------------- ---------------------- 11.1/25.8 MB 1.0 MB/s eta 0:00:15
   ----------------- ---------------------- 11.1/25.8 MB 999.5 kB/s eta 0:00:15
   ----------------- ---------------------- 11.2/25.8 MB 1.0 MB/s eta 0:00:15
   ----------------- ---------------------- 11.2/25.8 MB 996.5 kB/s eta 0:00:15
   ----------------- ---------------------- 11.3/25.8 MB 992.0 kB/s eta 0:00:15
   ----------------- ---------------------- 11.3/25.8 MB 999.6 kB/s eta 0:00:15
   ----------------- ---------------------- 11.3/25.8 MB 995.0 kB/s eta 0:00:15
   ----------------- ---------------------- 11.4/25.8 MB 996.5 kB/s eta 0:00:15
   ----------------- ---------------------- 11.4/25.8 MB 993.5 kB/s eta 0:00:15
   ----------------- ---------------------- 11.5/25.8 MB 989.0 kB/s eta 0:00:15

In [8]:
fec = pd.read_parquet('datasets/fec/fec.parquet')
fec

,cmte_id,cand_id,cand_nm,contbr_nm,contbr_city,contbr_st,contbr_zip,contbr_employer,contbr_occupation,contb_receipt_amt,contb_receipt_dt,receipt_desc,memo_cd,memo_text,form_tp,file_num
0,C00410118,P20002978,"Bachmann, Michelle","HARVEY, WILLIAM",MOBILE,AL,366010290,RETIRED,RETIRED,250.0,20-JUN-11,None,None,None,SA17A,736166
1,C00410118,P20002978,"Bachmann, Michelle","HARVEY, WILLIAM",MOBILE,AL,366010290,RETIRED,RETIRED,50.0,23-JUN-11,None,None,None,SA17A,736166
2,C00410118,P20002978,"Bachmann, Michelle","SMITH, LANIER",LANETT,AL,368633403,INFORMATION REQUESTED,INFORMATION REQUESTED,250.0,05-JUL-11,None,None,None,SA17A,749073
3,C00410118,P20002978,"Bachmann, Michelle","BLEVINS, DARONDA",PIGGOTT,AR,724548253,NONE,RETIRED,250.0,01-AUG-11,None,None,None,SA17A,749073
4,C00410118,P20002978,"Bachmann, Michelle","WARDENBURG, HAROLD",HOT SPRINGS NATION,AR,719016467,NONE,RETIRED,300.0,20-JUN-11,None,None,None,SA17A,736166
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1001726,C00500587,P20003281,"Perry, Rick","GORMAN, CHRIS D. MR.",INFO REQUESTED,XX,99999,INFORMATION REQUESTED PER BEST EFFORTS,INFORMATION REQUESTED PER BEST EFFORTS,5000.0,29-SEP-11,REATTRIBUTION / REDESIGNATION REQUESTED (AUTOM...,None,REATTRIBUTION / REDESIGNATION REQUESTED (AUTOM...,SA17A,751678
1001727,C00500587,P20003281,"Perry, Rick","DUFFY, DAVID A. MR.",INFO REQUESTED,XX,99999,DUFFY EQUIPMENT COMPANY INC.,BUSINESS OWNER,2500.0,30-SEP-11,None,None,None,SA17A,751678
1001728,C00500587,P20003281,"Perry, Rick","GRANE, BRYAN F. MR.",INFO REQUESTED,XX,99999,INFORMATION REQUESTED PER BEST EFFORTS,INFORMATION REQUESTED PER BEST EFFORTS,500.0,29-SEP-11,None,None,None,SA17A,751678
1001729,C00500587,P20003281,"Perry, Rick","TOLBERT, DARYL MR.",INFO REQUESTED,XX,99999,T.A.C.C.,LONGWALL MAINTENANCE FOREMAN,500.0,30-SEP-11,None,None,None,SA17A,751678
1001730,C00500587,P20003281,"Perry, Rick","ANDERSON, MARILEE MRS.",INFO REQUESTED,XX,99999,INFORMATION REQUESTED PER BEST EFFORTS,INFORMATION REQUESTED PER BEST EFFORTS,2500.0,31-AUG-11,None,None,None,SA17A,751678

In [9]:
!pip install openpyxl xlrd

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl.metadata (3.4 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
   ---------------------------------------- 0.0/250.9 kB ? eta -:--:--
   ---------------------------------------- 0.0/250.9 kB ? eta -:--:--
   - -------------------------------------- 10.2/250.9 kB ? eta -:--:--
   - -------------------------------------- 10.2/250.9 kB ? eta -:--:--
   ---- ---------------------------------- 30.7/250.9 kB 220.2 kB/s eta 0:00:01
   --------- ----------------------------- 61.4/250.9 kB 328.2 kB/s eta 0:00:01
   -------------- ------------------------ 92.2/250.9 kB 403.5 kB/s eta 0:00:01
   --------------------- ---------------- 143.4/250.9 kB 532.5 kB/s eta 0:00:01
   ------------------------------- ------ 204.8/250.9 kB 623.6 kB/s eta 0:00:01
   -------------------------------------  245.8/250.9 kB 686.6 kB/s eta 0:00:01
   -------------------------------------  245.8/250.9 kB 686.6 kB/s eta 0:00:01
   -------------------------------------- 250.9/250.9 kB 571.7 kB/s eta 0:00:00
Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
   ---------------------------------------- 0.0/96.5 kB ? eta -:--:--
   -------------------------------------- - 92.2/96.5 kB 5.1 MB/s eta 0:00:01
   -------------------------------------- - 92.2/96.5 kB 5.1 MB/s eta 0:00:01
   ---------------------------------------- 96.5/96.5 kB 791.7 kB/s eta 0:00:00
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: xlrd, et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.5 xlrd-2.0.1

In [10]:
xlsx = pd.ExcelFile('examples/ex1.xlsx')
xlsx.sheet_names

['Sheet1']

In [11]:
xlsx.parse(sheet_name='Sheet1')

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [12]:
xlsx.parse(sheet_name='Sheet1', index_col=0)

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [13]:
frame=pd.read_excel('examples/ex1.xlsx', sheet_name='Sheet1')
frame

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [14]:
writer=pd.ExcelWriter('examples/ex2.xlsx')
frame.to_excel(writer, 'Sheet1')

C:\Users\rfare\AppData\Local\Temp\ipykernel_9244\771728368.py:2: FutureWarning: Starting with pandas version 3.0 all arguments of to_excel except for the argument 'excel_writer' will be keyword-only.
  frame.to_excel(writer, 'Sheet1')

In [15]:
writer.close()

In [16]:
frame.to_excel('examples/ex2.xlsx')

In [18]:
!pip install tables

Collecting tables
  Downloading tables-3.9.2-cp312-cp312-win_amd64.whl.metadata (2.3 kB)
Requirement already satisfied: numpy>=1.19.0 in c:\users\rfare\miniconda3\envs\python-for-data-analysis\lib\site-packages (from tables) (1.26.4)
Collecting numexpr>=2.6.2 (from tables)
  Downloading numexpr-2.10.1-cp312-cp312-win_amd64.whl.metadata (1.3 kB)
Requirement already satisfied: packaging in c:\users\rfare\miniconda3\envs\python-for-data-analysis\lib\site-packages (from tables) (24.0)
Collecting py-cpuinfo (from tables)
  Downloading py_cpuinfo-9.0.0-py3-none-any.whl.metadata (794 bytes)
Collecting blosc2>=2.3.0 (from tables)
  Downloading blosc2-2.7.0-cp312-cp312-win_amd64.whl.metadata (9.3 kB)
Collecting ndindex>=1.4 (from blosc2>=2.3.0->tables)
  Downloading ndindex-1.8-py3-none-any.whl.metadata (3.4 kB)
Collecting msgpack (from blosc2>=2.3.0->tables)
  Downloading msgpack-1.0.8-cp312-cp312-win_amd64.whl.metadata (9.4 kB)
Downloading tables-3.9.2-cp312-cp312-win_amd64.whl (4.4 MB)
   ---------------------------------------- 0.0/4.4 MB ? eta -:--:--
   ---------------------------------------- 0.0/4.4 MB ? eta -:--:--
   ---------------------------------------- 0.0/4.4 MB ? eta -:--:--
   ---------------------------------------- 0.0/4.4 MB ? eta -:--:--
   ---------------------------------------- 0.1/4.4 MB 1.3 MB/s eta 0:00:04
   ---------------------------------------- 0.1/4.4 MB 1.3 MB/s eta 0:00:04
    --------------------------------------- 0.1/4.4 MB 558.5 kB/s eta 0:00:08
    --------------------------------------- 0.1/4.4 MB 456.6 kB/s eta 0:00:10
    --------------------------------------- 0.1/4.4 MB 392.2 kB/s eta 0:00:11
    --------------------------------------- 0.1/4.4 MB 392.2 kB/s eta 0:00:11
   - -------------------------------------- 0.1/4.4 MB 399.4 kB/s eta 0:00:11
   - -------------------------------------- 0.1/4.4 MB 357.2 kB/s eta 0:00:12
   - -------------------------------------- 0.2/4.4 MB 366.6 kB/s eta 0:00:12
   - -------------------------------------- 0.2/4.4 MB 364.0 kB/s eta 0:00:12
   - -------------------------------------- 0.2/4.4 MB 348.2 kB/s eta 0:00:13
   - -------------------------------------- 0.2/4.4 MB 355.7 kB/s eta 0:00:12
   - -------------------------------------- 0.2/4.4 MB 344.8 kB/s eta 0:00:13
   -- ------------------------------------- 0.2/4.4 MB 351.4 kB/s eta 0:00:12
   -- ------------------------------------- 0.2/4.4 MB 351.4 kB/s eta 0:00:12
   -- ------------------------------------- 0.3/4.4 MB 341.3 kB/s eta 0:00:13
   -- ------------------------------------- 0.3/4.4 MB 353.6 kB/s eta 0:00:12
   -- ------------------------------------- 0.3/4.4 MB 353.6 kB/s eta 0:00:12
   -- ------------------------------------- 0.3/4.4 MB 344.8 kB/s eta 0:00:12
   -- ------------------------------------- 0.3/4.4 MB 344.8 kB/s eta 0:00:12
   -- ------------------------------------- 0.3/4.4 MB 338.4 kB/s eta 0:00:12
   --- ------------------------------------ 0.4/4.4 MB 352.8 kB/s eta 0:00:12
   --- ------------------------------------ 0.4/4.4 MB 352.8 kB/s eta 0:00:12
   --- ------------------------------------ 0.4/4.4 MB 341.6 kB/s eta 0:00:12
   --- ------------------------------------ 0.4/4.4 MB 345.2 kB/s eta 0:00:12
   --- ------------------------------------ 0.4/4.4 MB 345.2 kB/s eta 0:00:12
   ---- ----------------------------------- 0.5/4.4 MB 352.3 kB/s eta 0:00:12
   ---- ----------------------------------- 0.5/4.4 MB 351.4 kB/s eta 0:00:12
   ---- ----------------------------------- 0.5/4.4 MB 350.5 kB/s eta 0:00:12
   ---- ----------------------------------- 0.5/4.4 MB 350.0 kB/s eta 0:00:12
   ---- ----------------------------------- 0.5/4.4 MB 352.9 kB/s eta 0:00:11
   ---- ----------------------------------- 0.5/4.4 MB 355.5 kB/s eta 0:00:11
   ---- ----------------------------------- 0.5/4.4 MB 351.2 kB/s eta 0:00:11
   ----- ---------------------------------- 0.6/4.4 MB 357.4 kB/s eta 0:00:11
   ----- ---------------------------------- 0.6/4.4 MB 349.8 kB/s eta 0:00:11
   ----- ---------------------------------- 0.6/4.4 MB 361.3 kB/s eta 0:00:11
   ----- ---------------------------------- 0.6/4.4 MB 361.3 kB/s eta 0:00:11
   ----- ---------------------------------- 0.6/4.4 MB 359.5 kB/s eta 0:00:11
   ----- ---------------------------------- 0.7/4.4 MB 355.8 kB/s eta 0:00:11
   ------ --------------------------------- 0.7/4.4 MB 361.0 kB/s eta 0:00:11
   ------ --------------------------------- 0.7/4.4 MB 362.8 kB/s eta 0:00:11
   ------ --------------------------------- 0.7/4.4 MB 359.3 kB/s eta 0:00:11
   ------ --------------------------------- 0.7/4.4 MB 364.0 kB/s eta 0:00:11
   ------ --------------------------------- 0.7/4.4 MB 360.6 kB/s eta 0:00:11
   ------ --------------------------------- 0.8/4.4 MB 362.3 kB/s eta 0:00:10
   ------- -------------------------------- 0.8/4.4 MB 363.5 kB/s eta 0:00:10
   ------- -------------------------------- 0.8/4.4 MB 365.0 kB/s eta 0:00:10
   ------- -------------------------------- 0.8/4.4 MB 364.6 kB/s eta 0:00:10
   ------- -------------------------------- 0.8/4.4 MB 366.0 kB/s eta 0:00:10
   ------- -------------------------------- 0.9/4.4 MB 367.5 kB/s eta 0:00:10
   ------- -------------------------------- 0.9/4.4 MB 367.0 kB/s eta 0:00:10
   -------- ------------------------------- 0.9/4.4 MB 368.3 kB/s eta 0:00:10
   -------- ------------------------------- 0.9/4.4 MB 367.8 kB/s eta 0:00:10
   -------- ------------------------------- 0.9/4.4 MB 370.4 kB/s eta 0:00:10
   -------- ------------------------------- 1.0/4.4 MB 367.6 kB/s eta 0:00:10
   -------- ------------------------------- 1.0/4.4 MB 368.8 kB/s eta 0:00:10
   -------- ------------------------------- 1.0/4.4 MB 368.3 kB/s eta 0:00:10
   --------- ------------------------------ 1.0/4.4 MB 371.7 kB/s eta 0:00:10
   --------- ------------------------------ 1.0/4.4 MB 370.7 kB/s eta 0:00:10
   --------- ------------------------------ 1.0/4.4 MB 370.2 kB/s eta 0:00:10
   --------- ------------------------------ 1.1/4.4 MB 371.3 kB/s eta 0:00:09
   --------- ------------------------------ 1.1/4.4 MB 371.9 kB/s eta 0:00:09
   ---------- ----------------------------- 1.1/4.4 MB 372.9 kB/s eta 0:00:09
   ---------- ----------------------------- 1.1/4.4 MB 372.5 kB/s eta 0:00:09
   ---------- ----------------------------- 1.1/4.4 MB 375.5 kB/s eta 0:00:09
   ---------- ----------------------------- 1.1/4.4 MB 371.1 kB/s eta 0:00:09
   ---------- ----------------------------- 1.2/4.4 MB 374.0 kB/s eta 0:00:09
   ---------- ----------------------------- 1.2/4.4 MB 376.8 kB/s eta 0:00:09
   ----------- ---------------------------- 1.2/4.4 MB 375.4 kB/s eta 0:00:09
   ----------- ---------------------------- 1.2/4.4 MB 374.9 kB/s eta 0:00:09
   ----------- ---------------------------- 1.2/4.4 MB 375.8 kB/s eta 0:00:09
   ----------- ---------------------------- 1.3/4.4 MB 377.9 kB/s eta 0:00:09
   ----------- ---------------------------- 1.3/4.4 MB 378.7 kB/s eta 0:00:09
   ----------- ---------------------------- 1.3/4.4 MB 378.3 kB/s eta 0:00:09
   ------------ --------------------------- 1.3/4.4 MB 379.0 kB/s eta 0:00:09
   ------------ --------------------------- 1.4/4.4 MB 379.8 kB/s eta 0:00:08
   ------------ --------------------------- 1.4/4.4 MB 381.8 kB/s eta 0:00:08
   ------------ --------------------------- 1.4/4.4 MB 381.8 kB/s eta 0:00:08
   ------------ --------------------------- 1.4/4.4 MB 382.0 kB/s eta 0:00:08
   ------------- -------------------------- 1.4/4.4 MB 384.3 kB/s eta 0:00:08
   ------------- -------------------------- 1.5/4.4 MB 381.8 kB/s eta 0:00:08
   ------------- -------------------------- 1.5/4.4 MB 384.0 kB/s eta 0:00:08
   ------------- -------------------------- 1.5/4.4 MB 384.7 kB/s eta 0:00:08
   ------------- -------------------------- 1.5/4.4 MB 386.9 kB/s eta 0:00:08
   -------------- ------------------------- 1.5/4.4 MB 388.5 kB/s eta 0:00:08
   -------------- ------------------------- 1.6/4.4 MB 385.0 kB/s eta 0:00:08
   -------------- ------------------------- 1.6/4.4 MB 385.0 kB/s eta 0:00:08
   -------------- ------------------------- 1.6/4.4 MB 385.6 kB/s eta 0:00:08
   -------------- ------------------------- 1.6/4.4 MB 385.8 kB/s eta 0:00:08
   -------------- ------------------------- 1.6/4.4 MB 387.8 kB/s eta 0:00:08
   --------------- ------------------------ 1.7/4.4 MB 389.3 kB/s eta 0:00:07
   --------------- ------------------------ 1.7/4.4 MB 389.8 kB/s eta 0:00:07
   --------------- ------------------------ 1.7/4.4 MB 389.4 kB/s eta 0:00:07
   --------------- ------------------------ 1.7/4.4 MB 389.5 kB/s eta 0:00:07
   --------------- ------------------------ 1.7/4.4 MB 391.4 kB/s eta 0:00:07
   ---------------- ----------------------- 1.8/4.4 MB 391.4 kB/s eta 0:00:07
   ---------------- ----------------------- 1.8/4.4 MB 393.1 kB/s eta 0:00:07
   ---------------- ----------------------- 1.8/4.4 MB 391.4 kB/s eta 0:00:07
   ---------------- ----------------------- 1.8/4.4 MB 396.3 kB/s eta 0:00:07
   ---------------- ----------------------- 1.9/4.4 MB 395.8 kB/s eta 0:00:07
   ----------------- ---------------------- 1.9/4.4 MB 395.8 kB/s eta 0:00:07
   ----------------- ---------------------- 1.9/4.4 MB 398.8 kB/s eta 0:00:07
   ----------------- ---------------------- 1.9/4.4 MB 400.4 kB/s eta 0:00:07
   ----------------- ---------------------- 2.0/4.4 MB 400.3 kB/s eta 0:00:07
   ----------------- ---------------------- 2.0/4.4 MB 399.9 kB/s eta 0:00:07
   ------------------ --------------------- 2.0/4.4 MB 401.9 kB/s eta 0:00:06
   ------------------ --------------------- 2.0/4.4 MB 402.6 kB/s eta 0:00:06
   ------------------ --------------------- 2.0/4.4 MB 404.2 kB/s eta 0:00:06
   ------------------ --------------------- 2.1/4.4 MB 404.1 kB/s eta 0:00:06
   ------------------- -------------------- 2.1/4.4 MB 406.3 kB/s eta 0:00:06
   ------------------- -------------------- 2.1/4.4 MB 406.6 kB/s eta 0:00:06
   ------------------- -------------------- 2.1/4.4 MB 406.1 kB/s eta 0:00:06
   ------------------- -------------------- 2.2/4.4 MB 407.6 kB/s eta 0:00:06
   ------------------- -------------------- 2.2/4.4 MB 408.6 kB/s eta 0:00:06
   -------------------- ------------------- 2.2/4.4 MB 409.6 kB/s eta 0:00:06
   -------------------- ------------------- 2.2/4.4 MB 411.0 kB/s eta 0:00:06
   -------------------- ------------------- 2.3/4.4 MB 411.9 kB/s eta 0:00:06
   -------------------- ------------------- 2.3/4.4 MB 413.3 kB/s eta 0:00:06
   --------------------- ------------------ 2.3/4.4 MB 414.2 kB/s eta 0:00:05
   --------------------- ------------------ 2.3/4.4 MB 415.5 kB/s eta 0:00:05
   --------------------- ------------------ 2.4/4.4 MB 416.3 kB/s eta 0:00:05
   --------------------- ------------------ 2.4/4.4 MB 418.3 kB/s eta 0:00:05
   ---------------------- ----------------- 2.4/4.4 MB 418.5 kB/s eta 0:00:05
   ---------------------- ----------------- 2.4/4.4 MB 420.4 kB/s eta 0:00:05
   ---------------------- ----------------- 2.5/4.4 MB 419.9 kB/s eta 0:00:05
   ---------------------- ----------------- 2.5/4.4 MB 421.1 kB/s eta 0:00:05
   ---------------------- ----------------- 2.5/4.4 MB 421.9 kB/s eta 0:00:05
   ----------------------- ---------------- 2.5/4.4 MB 422.6 kB/s eta 0:00:05
   ----------------------- ---------------- 2.6/4.4 MB 423.8 kB/s eta 0:00:05
   ----------------------- ---------------- 2.6/4.4 MB 424.5 kB/s eta 0:00:05
   ----------------------- ---------------- 2.6/4.4 MB 425.7 kB/s eta 0:00:05
   ------------------------ --------------- 2.6/4.4 MB 427.4 kB/s eta 0:00:05
   ------------------------ --------------- 2.7/4.4 MB 428.6 kB/s eta 0:00:04
   ------------------------ --------------- 2.7/4.4 MB 429.3 kB/s eta 0:00:04
   ------------------------ --------------- 2.7/4.4 MB 430.9 kB/s eta 0:00:04
   ------------------------- -------------- 2.7/4.4 MB 431.0 kB/s eta 0:00:04
   ------------------------- -------------- 2.8/4.4 MB 433.1 kB/s eta 0:00:04
   ------------------------- -------------- 2.8/4.4 MB 433.1 kB/s eta 0:00:04
   ------------------------- -------------- 2.8/4.4 MB 434.8 kB/s eta 0:00:04
   -------------------------- ------------- 2.9/4.4 MB 436.9 kB/s eta 0:00:04
   -------------------------- ------------- 2.9/4.4 MB 436.4 kB/s eta 0:00:04
   -------------------------- ------------- 2.9/4.4 MB 437.9 kB/s eta 0:00:04
   -------------------------- ------------- 2.9/4.4 MB 439.9 kB/s eta 0:00:04
   --------------------------- ------------ 3.0/4.4 MB 442.4 kB/s eta 0:00:04
   --------------------------- ------------ 3.0/4.4 MB 441.9 kB/s eta 0:00:04
   --------------------------- ------------ 3.0/4.4 MB 442.3 kB/s eta 0:00:04
   ---------------------------- ----------- 3.1/4.4 MB 446.3 kB/s eta 0:00:03
   ---------------------------- ----------- 3.1/4.4 MB 446.8 kB/s eta 0:00:03
   ---------------------------- ----------- 3.1/4.4 MB 448.2 kB/s eta 0:00:03
   ---------------------------- ----------- 3.2/4.4 MB 449.1 kB/s eta 0:00:03
   ----------------------------- ---------- 3.2/4.4 MB 451.9 kB/s eta 0:00:03
   ----------------------------- ---------- 3.2/4.4 MB 453.7 kB/s eta 0:00:03
   ----------------------------- ---------- 3.3/4.4 MB 454.6 kB/s eta 0:00:03
   ------------------------------ --------- 3.3/4.4 MB 457.7 kB/s eta 0:00:03
   ------------------------------ --------- 3.3/4.4 MB 458.2 kB/s eta 0:00:03
   ------------------------------ --------- 3.4/4.4 MB 460.3 kB/s eta 0:00:03
   ------------------------------- -------- 3.4/4.4 MB 462.5 kB/s eta 0:00:03
   ------------------------------- -------- 3.4/4.4 MB 464.1 kB/s eta 0:00:03
   ------------------------------- -------- 3.5/4.4 MB 466.7 kB/s eta 0:00:02
   -------------------------------- ------- 3.5/4.4 MB 470.3 kB/s eta 0:00:02
   -------------------------------- ------- 3.6/4.4 MB 470.4 kB/s eta 0:00:02
   -------------------------------- ------- 3.6/4.4 MB 470.8 kB/s eta 0:00:02
   --------------------------------- ------ 3.6/4.4 MB 475.4 kB/s eta 0:00:02
   --------------------------------- ------ 3.7/4.4 MB 477.4 kB/s eta 0:00:02
   --------------------------------- ------ 3.7/4.4 MB 481.2 kB/s eta 0:00:02
   ---------------------------------- ----- 3.7/4.4 MB 482.3 kB/s eta 0:00:02
   ---------------------------------- ----- 3.8/4.4 MB 484.9 kB/s eta 0:00:02
   ----------------------------------- ---- 3.9/4.4 MB 488.5 kB/s eta 0:00:02
   ----------------------------------- ---- 3.9/4.4 MB 490.5 kB/s eta 0:00:02
   ----------------------------------- ---- 3.9/4.4 MB 494.1 kB/s eta 0:00:01
   ------------------------------------ --- 4.0/4.4 MB 495.4 kB/s eta 0:00:01
   ------------------------------------ --- 4.0/4.4 MB 498.5 kB/s eta 0:00:01
   ------------------------------------- -- 4.1/4.4 MB 502.3 kB/s eta 0:00:01
   ------------------------------------- -- 4.1/4.4 MB 504.1 kB/s eta 0:00:01
   -------------------------------------- - 4.2/4.4 MB 506.5 kB/s eta 0:00:01
   -------------------------------------- - 4.2/4.4 MB 511.1 kB/s eta 0:00:01
   ---------------------------------------  4.3/4.4 MB 514.3 kB/s eta 0:00:01
   ---------------------------------------  4.3/4.4 MB 516.1 kB/s eta 0:00:01
   ---------------------------------------  4.4/4.4 MB 521.8 kB/s eta 0:00:01
   ---------------------------------------  4.4/4.4 MB 521.8 kB/s eta 0:00:01
   ---------------------------------------  4.4/4.4 MB 521.8 kB/s eta 0:00:01
   ---------------------------------------  4.4/4.4 MB 521.8 kB/s eta 0:00:01
   ---------------------------------------- 4.4/4.4 MB 509.6 kB/s eta 0:00:00
Downloading blosc2-2.7.0-cp312-cp312-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   - -------------------------------------- 0.1/2.1 MB 1.7 MB/s eta 0:00:02
   -- ------------------------------------- 0.1/2.1 MB 1.4 MB/s eta 0:00:02
   --- ------------------------------------ 0.2/2.1 MB 1.2 MB/s eta 0:00:02
   --- ------------------------------------ 0.2/2.1 MB 1.1 MB/s eta 0:00:02
   ----- ---------------------------------- 0.3/2.1 MB 1.2 MB/s eta 0:00:02
   ------ --------------------------------- 0.3/2.1 MB 1.2 MB/s eta 0:00:02
   ------- -------------------------------- 0.4/2.1 MB 1.2 MB/s eta 0:00:02
   -------- ------------------------------- 0.4/2.1 MB 1.2 MB/s eta 0:00:02
   --------- ------------------------------ 0.5/2.1 MB 1.2 MB/s eta 0:00:02
   ---------- ----------------------------- 0.6/2.1 MB 1.2 MB/s eta 0:00:02
   ------------ --------------------------- 0.6/2.1 MB 1.2 MB/s eta 0:00:02
   ------------ --------------------------- 0.7/2.1 MB 1.2 MB/s eta 0:00:02
   ------------ --------------------------- 0.7/2.1 MB 1.2 MB/s eta 0:00:02
   ------------ --------------------------- 0.7/2.1 MB 1.2 MB/s eta 0:00:02
   -------------- ------------------------- 0.7/2.1 MB 1.1 MB/s eta 0:00:02
   -------------- ------------------------- 0.7/2.1 MB 1.1 MB/s eta 0:00:02
   ------------------ --------------------- 1.0/2.1 MB 1.2 MB/s eta 0:00:01
   ------------------- -------------------- 1.0/2.1 MB 1.2 MB/s eta 0:00:01
   -------------------- ------------------- 1.0/2.1 MB 1.2 MB/s eta 0:00:01
   --------------------- ------------------ 1.1/2.1 MB 1.2 MB/s eta 0:00:01
   ---------------------- ----------------- 1.1/2.1 MB 1.2 MB/s eta 0:00:01
   ---------------------- ----------------- 1.2/2.1 MB 1.2 MB/s eta 0:00:01
   ----------------------- ---------------- 1.2/2.1 MB 1.2 MB/s eta 0:00:01
   ------------------------ --------------- 1.3/2.1 MB 1.2 MB/s eta 0:00:01
   ------------------------- -------------- 1.3/2.1 MB 1.1 MB/s eta 0:00:01
   --------------------------- ------------ 1.4/2.1 MB 1.1 MB/s eta 0:00:01
   --------------------------- ------------ 1.4/2.1 MB 1.1 MB/s eta 0:00:01
   ---------------------------- ----------- 1.5/2.1 MB 1.1 MB/s eta 0:00:01
   ----------------------------- ---------- 1.5/2.1 MB 1.1 MB/s eta 0:00:01
   ------------------------------ --------- 1.6/2.1 MB 1.1 MB/s eta 0:00:01
   ------------------------------- -------- 1.6/2.1 MB 1.1 MB/s eta 0:00:01
   -------------------------------- ------- 1.7/2.1 MB 1.1 MB/s eta 0:00:01
   --------------------------------- ------ 1.7/2.1 MB 1.1 MB/s eta 0:00:01
   ---------------------------------- ----- 1.8/2.1 MB 1.1 MB/s eta 0:00:01
   ----------------------------------- ---- 1.8/2.1 MB 1.1 MB/s eta 0:00:01
   ------------------------------------ --- 1.9/2.1 MB 1.1 MB/s eta 0:00:01
   -------------------------------------- - 2.0/2.1 MB 1.1 MB/s eta 0:00:01
   -------------------------------------- - 2.0/2.1 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------  2.0/2.1 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 1.1 MB/s eta 0:00:00
Downloading numexpr-2.10.1-cp312-cp312-win_amd64.whl (141 kB)
   ---------------------------------------- 0.0/141.3 kB ? eta -:--:--
   ----------------- ---------------------- 61.4/141.3 kB 1.1 MB/s eta 0:00:01
   ------------------------------- -------- 112.6/141.3 kB 1.3 MB/s eta 0:00:01
   ------------------------------------- -- 133.1/141.3 kB 1.3 MB/s eta 0:00:01
   ------------------------------------- -- 133.1/141.3 kB 1.3 MB/s eta 0:00:01
   -------------------------------------- 141.3/141.3 kB 598.2 kB/s eta 0:00:00
Downloading py_cpuinfo-9.0.0-py3-none-any.whl (22 kB)
Downloading ndindex-1.8-py3-none-any.whl (91 kB)
   ---------------------------------------- 0.0/91.2 kB ? eta -:--:--
   ----------------- ---------------------- 41.0/91.2 kB 991.0 kB/s eta 0:00:01
   ----------------------------------- ---- 81.9/91.2 kB 1.1 MB/s eta 0:00:01
   ----------------------------------- ---- 81.9/91.2 kB 1.1 MB/s eta 0:00:01
   ---------------------------------------- 91.2/91.2 kB 574.0 kB/s eta 0:00:00
Downloading msgpack-1.0.8-cp312-cp312-win_amd64.whl (75 kB)

In [19]:
frame = pd.DataFrame({"a": np.random.standard_normal(100)})
store = pd.HDFStore('examples/mydata.h5')
store['obj1']=frame
store['obj1_col']=frame['a']
store

<class 'pandas.io.pytables.HDFStore'>
File path: examples/mydata.h5

In [20]:
store['obj1']

           a
0  -1.825253
1  -2.975520
2   1.549598
3  -1.585827
4  -0.498729
..       ...
95 -0.585779
96  1.026991
97  0.177178
98  1.339775
99 -0.873207

[100 rows x 1 columns]

In [21]:
store.put("obj2", frame, format="table")
store.select("obj2", where=["index >= 10 and index <= 15"])

           a
10  0.792237
11 -1.674920
12 -0.321113
13  1.214321
14 -1.548289
15  0.366726

In [23]:
store.close()

In [24]:
frame.to_hdf("examples/mydata.h5", "obj3", format="table")
pd.read_hdf("examples/mydata.h5", "obj3", where=["index < 5"])

C:\Users\rfare\AppData\Local\Temp\ipykernel_9244\2659235977.py:1: FutureWarning: Starting with pandas version 3.0 all arguments of to_hdf except for the argument 'path_or_buf' will be keyword-only.
  frame.to_hdf("examples/mydata.h5", "obj3", format="table")

          a
0 -1.825253
1 -2.975520
2  1.549598
3 -1.585827
4 -0.498729

In [25]:
import os
os.remove('examples/mydata.h5')

In [26]:
!pip install requests

Requirement already satisfied: requests in c:\users\rfare\miniconda3\envs\python-for-data-analysis\lib\site-packages (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\rfare\miniconda3\envs\python-for-data-analysis\lib\site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\rfare\miniconda3\envs\python-for-data-analysis\lib\site-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\rfare\miniconda3\envs\python-for-data-analysis\lib\site-packages (from requests) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\rfare\miniconda3\envs\python-for-data-analysis\lib\site-packages (from requests) (2024.2.2)

In [27]:
import requests

In [28]:
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
resp = requests.get(url)
resp.raise_for_status()
resp

In [29]:
data= resp.json()
data[0]['title']

'BUG: Enlarging multilevel index fails if one or more level keys are None'

In [30]:
issues=pd.DataFrame(data, columns=['number','title','labels','state'])
issues

,number,title,labels,state
0,59153,BUG: Enlarging multilevel index fails if one o...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
1,59152,ENH: Add a Series method which checks whether ...,[],open
2,59151,Add a New form of using pd.eval(),[],open
3,59150,"Add ""N / A"" to `STR_NA_VALUES`",[],open
4,59149,database is locked,"[{'id': 34444536, 'node_id': 'MDU6TGFiZWwzNDQ0...",open
5,59148,BUG: Fix difference functionality for Period I...,[],open
6,59147,BUG: read_html returns empty list,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
7,59146,DOC: Fixed validate_title_capitalization warni...,[],open
8,59145,DataFrame.eval error fixed,[],open
9,59144,remove ops div class to solve #21374,[],open
10,59143,"CLN: enforced the deprecation of strings 'H', ...",[],open
11,59142,Allow adjust=False when times is provided,[],open
12,59141,REF: Make concat not stateful.,"[{'id': 127681, 'node_id': 'MDU6TGFiZWwxMjc2OD...",open
13,59140,ENH: Query function to have a star * for all c...,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
14,59139,"ValueError: Usecols do not match columns, colu...","[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
15,59137,"ENH: merge_asof with ""howâ€ functionality","[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
16,59136,Upload free-threaded nightly wheels on Linux a...,"[{'id': 48070600, 'node_id': 'MDU6TGFiZWw0ODA3...",open
17,59135,Add Py_mod_gil slot to C extension modules,[],open
18,59134,Build 3.13 wheels,"[{'id': 129350, 'node_id': 'MDU6TGFiZWwxMjkzNT...",open
19,59133,Drop duplicate indices,[],open
20,59132,BUG: DataFrame to JSON failed when it with UUID,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
21,59130,"DOC: ""Accelerated operations"" talks about spee...","[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
22,59125,PDEP-17: Backwards compatibility and deprecati...,"[{'id': 4253279386, 'node_id': 'LA_kwDOAA0YD87...",open
23,59124,REF: Make read_json less stateful,"[{'id': 127681, 'node_id': 'MDU6TGFiZWwxMjc2OD...",open
24,59122,"BUG: 0/0 with arrow backend is not ""NA""","[{'id': 2822342, 'node_id': 'MDU6TGFiZWwyODIyM...",open
25,59116,BUG: None becomes empty string when writing mu...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
26,59115,ENH: Back pd.BooleanArray with nanoarrow,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
27,59114,BUG: Allow show_versions to work for any modul...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
28,59112,BUG: to_sql does gives incorrect column name f...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
29,59111,BUG: to_sql does not populate index column wit...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open

In [31]:
import sqlite3

In [32]:
query = """
   CREATE TABLE test
   (a VARCHAR(20), b VARCHAR(20),
   c REAL,        d INTEGER
   );"""
con = sqlite3.connect("mydata.sqlite")
con.execute(query)

In [33]:
con.commit()

In [34]:
data = [("Atlanta", "Georgia", 1.25, 6),
   ("Tallahassee", "Florida", 2.6, 3),
   ("Sacramento", "California", 1.7, 5)]
stmt = "insert into test values (?, ?, ?, ?)"
con.executemany(stmt, data)

In [35]:
con.commit()

In [36]:
cursor = con.execute('select * from test')
rows = cursor.fetchall()
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [37]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [38]:
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [39]:
import sqlalchemy as sqla

In [41]:
db = sqla.create_engine("sqlite:///mydata.sqlite")

In [42]:
pd.read_sql("select * from test", db)

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5